<h1 class="panel-title">Configuración</h1>

<div class="main-layout">
  <header class="top-bar">
    <button class="btn-menu" (click)="toggleAppInfo()">
      {{ 'SETTINGS.BUTTON_INFO' | translate }}
    </button>
    <button class="btn-logout" (click)="logout()">
      {{ 'SETTINGS.BUTTON_LOGOUT' | translate }}
    </button>
  </header>

  <main class="main-content">
    <div class="user-card">
      <img
        [src]="user.profilePhoto"
        [alt]="'SETTINGS.PHOTO_ALT' | translate"
        class="profile-photo"
      />
      <h1 class="user-name">{{ user.fullName }}</h1>
      <p class="user-email">{{ user.email }}</p>

      <hr class="divider" />

      <div class="extra-info">
        <p>
          <strong>{{ 'SETTINGS.DNI' | translate }}:</strong> {{ user.idNumber }}
        </p>
        <p>
          <strong>{{ 'SETTINGS.CITY' | translate }}:</strong> {{ user.city }}
        </p>
      </div>
    </div>
  </main>

  <aside class="sidebar" [class.is-open]="showAppInfo">
    <button class="btn-close" (click)="toggleAppInfo()">×</button>

    <div class="sidebar-content">
      <img [src]="gymLogo" [alt]="'SETTINGS.LOGO_ALT' | translate" class="large-gym-logo" />
      <h2 class="app-title">{{ appInfo.name }}</h2>
      <p class="version-text">
        <strong>{{ 'SETTINGS.VERSION' | translate }}:</strong> {{ appInfo.version }}
      </p>

      <div class="tech-box">
        <strong>{{ 'SETTINGS.USER_AGENT' | translate }}:</strong>
        <p class="small-text">{{ appInfo.userAgent }}</p>
      </div>
    </div>
  </aside>

  <div
    class="dark-overlay"
    [class.is-visible]="showAppInfo"
    (click)="toggleAppInfo()"
    (keydown.enter)="toggleAppInfo()"
    tabindex="0"
  ></div>
</div>
